doctype 5
html.
	<head>
		<meta charset="utf8">
		<base href="/">
		<title>Fresh Prints Tech Challenge</title>
		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<script src="js/lib/angular/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
	</head>
	<body ng-app="myApp">
		<div ng-controller="AppCtrl" ng-cloak>
			<!-- INSERT HTML CODE HERE -->
			<h2> FRESH PRINTS TECH CHALLENGE </h2>
			<select name="styles" id="styles" ng-model="data.selectedStyle">
				<option ng-repeat="option in data.availableStyles" value="{{option.style_code}}">{{option.brand}}</option>
			</select>

			<select name="colours" id="colours" ng-model="data.selectedColour">
				<option ng-repeat="option in data.availableColours" value="{{option.colour_code}}">{{option.name}}</option>
			</select>

			<select name="sizes" id="sizes" ng-model="data.selectedSize">
				<option ng-repeat="option in data.availableSizes" value="{{option.size_code}}">{{option.size}}</option>
			</select>
		</div>
	</body>