doctype 5
html.
	<head>
		<meta charset="utf8">
		<base href="/">
		<title>Fresh Prints Tech Challenge</title>
		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<script src="js/lib/angular/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
	</head>
	<body ng-app="myApp">
		<div class="container" ng-controller="AppCtrl" ng-cloak>
			<form class="form-horizontal">
				<h2>FRESH PRINTS TECH CHALLENGE</h2>

				<div class="form-group">
					<label for="styles" class="col-md-2 control-label">List of Styles</label>
					<div class="col-md-10">
						<select name="styles" id="styles" class="form-control" ng-model="userInput.selectedStyle">
							<option ng-repeat="option in data.availableStyles" value="{{option.style_code}}">{{option.brand}}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="colours" class="col-md-2 control-label">List of Colours</label>
					<div class="col-md-10">
						<select name="colours" id="colours" class="form-control" ng-model="userInput.selectedColour">
							<option ng-repeat="option in data.availableColours" value="{{option.colour_code}}">{{option.name}}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="sizes" class="col-md-2 control-label">List of Sizes</label>
					<div class="col-md-10">
						<select name="sizes" id="sizes" class="form-control" ng-model="userInput.selectedSize">
							<option ng-repeat="option in data.availableSizes" value="{{option.size_code}}">{{option.size}}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="weight" class="col-md-2 control-label">Weight</label>
					<div class="col-md-10">
						<input name="amount" id="amount" class="form-control" type="number" type="number" ng-model="data.weight" readonly />
					</div>
				</div>

				<div class="form-group">
					<label for="Amount" class="col-md-2 control-label">Amount</label>
					<div class="col-md-10">
						<input name="amount" id="amount" class="form-control" type="text" ng-model="userInput.amount" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-default" ng-click="getQuote(userInput)">Get Quote</button>
					</div>
				</div>
				
				<div class="form-group">
					<label for="weight" class="col-md-2 control-label">Price</label>
					<div class="col-md-10">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input name="amount" id="amount" class="form-control" type="text" type="number" ng-model="data.price" readonly />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="weight" class="col-md-2 control-label">Order Cost</label>
					<div class="col-md-10">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input name="amount" id="amount" class="form-control" type="text" type="number" ng-model="data.order_cost" readonly />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="weight" class="col-md-2 control-label">Shipping Cost</label>
					<div class="col-md-10">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input name="amount" id="amount" class="form-control" type="text" type="number" ng-model="data.shipping_cost" readonly />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="weight" class="col-md-2 control-label">Sales Compensation</label>
					<div class="col-md-10">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input name="amount" id="amount" class="form-control" type="text" type="number" ng-model="data.sales_comp" readonly />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="weight" class="col-md-2 control-label">Markup</label>
					<div class="col-md-10">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input name="amount" id="amount" class="form-control" type="text" type="number" ng-model="data.markup" readonly />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="weight" class="col-md-2 control-label">Final Cost</label>
					<div class="col-md-10">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input name="amount" id="amount" class="form-control" type="text" type="number" ng-model="data.final_cost" readonly />
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>